.footer-fixed {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    padding-bottom: 100px;
    box-sizing: border-box;
}

body {
    background-color: #fff7f7;
}



/* -------------------- navigation bar -------------------- */

#navbar {
    position: relative;
    background-color: #204969;
    padding: 1px 0;
}

#nav {
    list-style-type: none;
    display: black;
    white-space: nowrap;
    width: 70%;
    margin: 0.5% auto;
    padding: 0;
}

#nav li {
    display: inline-block;
    width: 33.3%;
    white-space: normal;
    text-align: center;
    font-size: 20px;
}

#nav li a {
    text-decoration: none;
    color: black;
    color: #ffffff;
}

#nav li a:hover {
    text-decoration: underline;
}




h1 {
    margin-top: 50px;
    text-align: center;
    color: #204969;
}

h2 {
    text-align: center;
    color: #204969;
}



/* -------------------- content -------------------- */


#grade-nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

#grade-nav li {
    margin: 0 2%;
    text-align: left;
}

#grade-nav li a {
    color: black;
}



#content {
    display: table;
    width: 70%;
    height: auto;
    margin: 3% auto;
    padding: 1px;
    /* background-color: #fff1f1; */
}

.member {
    display: table;
    margin: 1%;
    background-color: black;
}


/* ----- split ----- */
.split-3 {
    display: table-cell;
    width: 30%;
    height: auto;
    position: relative;
}

.split-7 {
    display: table-cell;
    width: 70%;
    height: auto;
    position: relative;
}

/* ----- split responsive ----- */
@media screen and (max-width:1023px) {
    .split-3 {
        display: block;
        width: auto;
    }
    .split-7 {
        display: block;
        width: auto;
    }
    .split-3 p {
        margin-bottom: 0;
    }
}

.prof {
    background-color: #204969;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 0;
    padding: 1% 0;
}

.prof img {
    width: 40%;
    border-radius: 50%;
}

.prof p {
    margin: 0 auto;
    color: #ffffff;
}

h4 {
    margin: 0 auto;
    color: #ffffff;
}


.member-info {
    position: relative;
    background-color: #dadada;
    vertical-align: middle;
    margin: 0;
    padding: 1%;
}

.member-info p {
    margin-top: 0;
    color: #000000;
}

.member-info a {
    color: #000000;
}


@media screen and (max-width:1023px) {
    .prof img {
        width: 25%;
        border-radius: 50%;
    }
}


#first-term-top {
    margin-top: 3%;
}

#second-term-top {
    margin-top: 3%;
}





/* --------------- footer --------------- */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #204969;
    color: #ffffff;
}


footer p {
    margin: 1 auto;
}